<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>EventsontheDownLow can save event photos to your Photos library when you choose.</string>
	<key>NSCameraUsageDescription</key>
	<string>EventsontheDownLow uses the camera to attach a photo to an event.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.eventsonthedownlow.refresh</string>
		<string>com.eventsonthedownlow.processing</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
